.mainOption {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 122px;
    height: 20px;
    background-color: sandybrown;
    border: 1px solid black;
}

.mainOption > button {
    border-radius: 50%;
    border: none;
    font-size: 6px;
}

.selectItem {
    text-align: right;
    width: 120px;
    border: 1px solid sandybrown;
    cursor: pointer;
    font-size: 20px;
}